<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Modules
RewriteRule (.*) server.php [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
</IfModule>

<IfModule mod_mime>
AddType text/powershell .ps1
AddType application/zip .psmx

</IfModule>

# Output buffering needs to be off, to prevent high memory usage
php_flag output_buffering off

# This is also to prevent high memory usage
php_flag always_populate_raw_post_data off

# SabreDAV is not compatible with mbstring function overloading
php_flag mbstring.func_overload off